<div class="widget carousel">
  <div class="owl-carousel owl-theme">
    {{#each reviewsData}}
      <div class="review-item">
        <div class="avatar-container">
        <div class="avatar-placeholder"></div>
        <span class="reviewer-name">{{this.name}}</span>
        <p class="review-content">{{this.content}}</p>
        </div>
        <div class="review-footer">
        <span class="stars" data-rating="{{this.rating}}"></span>
        {{#if ../hideDate}}
        {{else}}
          <span class="review-date">{{this.createdAt}}</span>
        {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
/>
<link rel="stylesheet" href="/static/styles/carousel.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
></script>

<script>
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: {{#unless autoScroll}}true{{else}}false{{/unless}},
      items: 1,
      autoplay: {{#if autoScroll}}true{{else}}false{{/if}},
      autoplayTimeout: 4000, 
      dots: false, 
    });
  });
</script>







