<div class="widget masonry_fix">
  {{#each reviewsData}}
    <div class="review-item">
      <div class="avatar-container">
        <div class="avatar-placeholder"></div>
        <span class="reviewer-name">{{this.name}}</span>
        <p class="review-content">{{this.content}}</p>
      </div>
      <div class="review-footer">
        <span class="stars" data-rating="{{this.rating}}"></span>
        {{#if ../hideDate}}
        {{else}}
          <span class="review-date">{{this.createdAt}}</span>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

<script
  src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
></script>
<link rel="stylesheet" href="/static/styles/masonry-fix.css" />




