<div
  class="widget average_card"
  style="--background-color: {{background}}; --text-color: {{text}}"
>
  <span class="stars" data-rating="{{toFixed productData.rating}}"></span>
  <p>{{toFixed productData.rating 1}}
    average based on
    {{reviewsLength}}
    reviews.</p>
</div>